a {
    color: #0022ff;
    text-decoration: none;
}

a:hover{
    /*
    color: #FF0000;
    text-decoration: underline;
    */
}

#addTagForm p{
    float: left;
    padding-left: 100px;
}

body {
    color: #111111;
    font-family: 'Droid Sans',sans-serif;
    background-color: #f1f1f1;
}

.clear {
    clear: both;
}

#container{
    display: none;
    position: relative;
    margin-top: 40px;
    width: 100%;
}

#contentTop{
    width: 100%;
}

#commentsDiv{
    float: left;
    width: 100%;
}

#commentsTbl{
    margin-top: 10px;
    text-align: center;
    width: 500px;
    border: 2px solid #E9ECEF;
    border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

.error {
    color: red;
}

.favVideo {
    float: left;
    height: 100px;
    width: 260px;
    padding-left:10px;
}

.favVideoThumbnail {
    float: left;
}

.favVideoTitle {

}

.form h1,h2,h3,h4,h5,h6{
    color:  rgba(0, 0, 0, 0.37);
    margin: 0px;
}

.form input[type="text"], input[type="button"], input[type="submit"], textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 380px;
    background: #FFFFFF;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.form label {
    margin-left: 10px;
    color: #999999;
}

.form select {
    margin-right: 215px;
}

h1{
	color:  rgba(0, 0, 0, 0.37);
}

.headerTable{
    width:  855px;
    margin-right: auto;
    margin-left: auto;
    /*  background-color: #c8cdd3;  */
    border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

img {
    padding-bottom: 25px;
    max-height: 340px;
    max-width: 500px;
}

input:hover, input:focus, textarea:hover, textarea:focus {
    border-color: #C9C9C9;
    
}

input:disabled {
    color: #999999;
}

.link{
    cursor: pointer;
}

.link:hover{
    color: #0022ff;
}

.map{
    height: 300px;
    width:300px;
}

.optionsTable tr {
    width: 397px;
}

.pageNav{
    width: 135px;
    height: 84px;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.pageNav img{
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.pageNav p{
    display: table-cell;
    vertical-align: top;
    padding-top: 5px;
}

#playerDiv{
    float: left;
}

.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
}

#tagDescription{
    float: left;
    margin: auto;
    height: 340px;
    width: 500px;
}

#tagDescription img {
    display: block;
    margin: auto;
}

#tagControls:{
    float: left;
    width: 100%;
}

.tag{
    border: 2px solid rgb(161, 161, 161);
    position: absolute;
    z-index:99;
}

.videoTitle{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 3px;
}

.videoResults{
    width: 450px;
}

.videoResults tr:hover{
    background-color: #d8d8d8;
}
.videoResults img{
    float: left;
    width: 185px;
    height: 105px;
}

.videoResults #info{
    vertical-align: top;
}

.videoResults #title {
    float: left;
    font-size: 13px;
    font-weight: bold;
}

.videoResults #description{
    font-size: 12px;
    color: #707070;
}
