a {
    color: #0022ff;
    text-decoration: none;
}

a:hover{
    /*
    color: #FF0000;  
    text-decoration: underline;
    */
}

body {
    color: #111111;
    font-family: 'Droid Sans',sans-serif;
}

#container{
    position: relative;
    margin-top: 40px;
    width: 100%;
}

#contentTop{
    width: 100%;
}

#commentsDiv{
    float: left;
    width: 100%;
}

#commentsTbl{
    margin-top: 10px;
    text-align: center;
    width: 500px;
    border: 2px solid #E9ECEF;
    border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

.error {
    color: red;
}

img {
    padding-bottom: 25px;
    max-height: 340px;
    max-width: 500px;
}

.header{
    margin-left: auto;
    margin-right: auto;
    /*    background-image:url('../images/header_01.png');  */
    background-color: #c8cdd3;
    height: 30px;
    width:  825px;
    border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

.headerTable{
    width:  800px;
    margin-right: auto;
    margin-left: auto;
}

#logout{
    cursor: pointer;
}

#logout:hover{
    color: #0022ff;
}

.optionsTable tr {
    width: 397px;
}

#playerDiv{
    float: left;
}

#tagDescription{
    float: left;
    margin: auto;
    height: 340px;
    width: 500px;
}

#tagDescription img {
    display: block;
    margin: auto;
}

#tagControls:{
    float: left;
    width: 100%;
}

.tag{
    border: 2px solid rgb(161, 161, 161);
    position: absolute;
    z-index:99;
}

.videoTitle{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 3px;
}

