#header{
    margin-left: auto;
    margin-right: auto;
    background-color: #c8cdd3;
    height: 30px;
    width:  800px;
    border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

#container{
    position: relative;
    margin-top: 40px;
}

#playerDiv{
    float: left;
}

#tagDescription{
    float: left;
    margin: auto;
    height: 340px;
    width: 500px;
}

#tagDescription img {
    display: block;
    margin: auto;
    
}

#tagControls{
    float: left;
}

.tag{
    border: 2px solid rgb(161, 161, 161);
    position: absolute;
    z-index:99;
}



